body {
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 1rem;
margin: 0:}

header {padding-top: 2rem;}
/*navigation-----------------------*/

nav {background-color: black;
position: fixed;
top:0;
width: 100%;
}

nav a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
    color:white;
} 

nav a:hover {
    background-color: sandybrown;
}


/*sections-----------------*/
div section{
padding: 0.1rem;
text-align: center;
margin: 0.5rem;}


section{
    margin: 0.3rem;
    display: inline-block;
  text-decoration: none;}

img {
  padding: 7rem 3rem;
  background-color: lightgrey;
margin: 1rem;}

/* colors-----------------*/
ul {
padding: 0.1rem;
text-align: center;
margin: 0.5rem;}

a {text-align: center;}

li {
    margin: 0.3rem;
    display: inline-block;
    text-decoration: none;
  }

.bg-black {
  background-color: black;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  }

.bg-blue {
  background-color: blue;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  }

.bg-gray {
  background-color: darkslategray;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
 }

.bg-red {
  background-color: red;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  }

/*product discription-----------------*/
h6 {clear: both;
  margin: 0;
font-family: 'Lato', sans-serif;
font-size: 1.3rem;}

p {margin: 1rem;}

.discount-price {
  font-family: 'Lato', sans-serif;
 font-size: 1.3rem;
 color: maroon;}

.strikethrough {color: black;
text-decoration: line-through;
padding: 0 0.5rem;}

/*stars--------------------*/

i {
text-align: center;}

p {font-size: 1.3rem;}

.yellow-stars {color: #f8cc1b;}

button {margin: 1rem 3rem;
  font-size: 1rem;
}






































































/*If you see this ignore it. I am adjusting the size of the navigation that takes you back and forth between the two pages we worked on during class.*/

a:first-of-type {
  color:#000;
  font-size:1.5rem;
  font-weight:600;
}





























